#!/usr/bin/env ruby

compile '/**/versions.html' do
  filter :erb
  layout '/versions.*'

  write item.identifier.without_ext.gsub('/versions', '') + '/index.html'
end

compile '/**/redirect.html' do
  layout '/redirect.*'

  write item.identifier.without_ext.gsub("redirect", "") + 'index.html'
end

compile '/**/*.html' do
  layout '/default.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    write item.identifier.without_ext + '/index.html'
  end
end

compile '/**/index.erb' do
  filter :erb
  layout '/projects.*'

  write item.identifier.without_ext + '.html'
end

compile '/**/*.json.erb' do
  filter :erb

  write item.identifier.without_ext
end

compile '/**/*.erb' do
  filter :erb
  layout '/default.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    write item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*.md' do
  filter :kramdown
  layout '/default.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    write item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*.adoc' do
  filter :asciidoctor, :header_footer => true, :attributes => [
           'last-update-label!=', # Do not show last updated label in every page
           'source-highlighter=rouge',
           'stylesheet!='
         ]
  layout '/default.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.without_ext + '.html'
  else
    write item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
